<h3 style="text-align: center;">Update Departement</h3>  
 
<form (ngSubmit)="onsubmit(f)" #f= ngForm>  
  <label for="departement_id">Id:</label> 
<input type="text" name="departement_id"   [hidden] class="form-control" placeholder="id du departement"  [(ngModel)]="departement.departement_id" >
    <div class="form-group">  
        <label for="fullname_etu">Departement Name</label>  
        <input type="text" class="form-control"  data-toggle="tooltip" name="departement_name"  
        data-placement="right" [(ngModel)]="departement.departement_name" >  
        
    </div>  
 
  <button class="btn btn-success" [disabled]=!f.valid>Submit</button>  
</form>  




