
.conteneur2{
    max-width: 600px;
    overflow: hidden;
    margin: 50px auto;
    box-shadow: 0px 0px 10px #777;
}
.d2{
    width: 400%;
    height: 0;
    padding-top: 75%;
    background-color: #EDEDED;
    background-image:url("/assets/images/1.jpg");
    background-image:url("/assets/images/2.jpg");
    background-image:url("/assets/images/3.jpg");
    background-size: contain;
    animation: defilement2 12s linear infinite;
}    
@keyframes defilement2{
    0%{transform: translate(0,0);}
    100%{transform: translate(-75%,0);}
}
.d2:hover{
    animation-play-state: paused;
}