<h1  style="text-align:center;color:indigo;">EPI SUP</h1>
<h2 style="text-align: center;color: brown;">About US</h2>


<p style="text-align: center;font-size: 20px;font-family: Georgia, 'Times New Roman', Times, serif;">EPI Sup est spécialisé dans l’enseignement supérieur.</p>


<ul style="text-align: center;font-size: 20px;font-family: Georgia, 'Times New Roman', Times, serif;">Créé en 2011, il comprend aujourd’hui 3 écoles :</ul>

<li style="text-align: center;font-size: 20px;font-family: Georgia, 'Times New Roman', Times, serif;">Ecole Polytechnique (EPI-Polytechnique) pour la formation d’ingénieurs</li>
<li style="text-align: center;font-size: 20px;font-family: Georgia, 'Times New Roman', Times, serif;">Ecole d’Architecture (EPI-Arch) pour la formation d’ingénieurs-architectes</li>
<li style="text-align: center;font-size: 20px;font-family: Georgia, 'Times New Roman', Times, serif;">Ecole Business School (EPI-Business School) pour la formation de managers</li>
<p style="text-align: center;font-size: 20px;font-family: Georgia, 'Times New Roman', Times, serif;">Ces Ecoles sont implantées dans un Campus exceptionnel disposant d’une infrastructure moderne et performante et offrant un cadre d’étude et de vie agréable.</p>
<p style="text-align: center;font-size: 20px;font-family: Georgia, 'Times New Roman', Times, serif;">Cette implantation sur le même site encourage l’esprit d’échange et d’émulation et crée une synergie entre les différentes Ecoles qui permet aux étudiants de travailler ensemble, d’associer leurs compétences et de concevoir des projets communs pluridisciplinaires.</p>


<div class="conteneur2">

    <br>
    <app-caroussel></app-caroussel>
    <br><br>
  </div>
