<h3 style="text-align: center;">Update Enseignant</h3>  
 
<form (ngSubmit)="onsubmit(f)" #f= ngForm>  
  <label for="enseignant_id">Id:</label> 
<input type="text" name="enseignant_id"  [hidden] class="form-control" placeholder="id du enseignant"  [(ngModel)]="enseignant.enseignant_id" >
    <div class="form-group">  
        <label for="fullname_etu">Etudiant FullName</label>  
        <input type="text" class="form-control"  data-toggle="tooltip" name="enseignant_fullname"  
        data-placement="right" title="Enter fullname_enseignant" [(ngModel)]="enseignant.enseignant_fullname" >  
        
    </div>  
    <div class="form-group">  
      <label for="adresse">adresse</label>  
      <input type="text" class="form-control"  data-toggle="tooltip"  name="adresse" 
         data-placement="right" title="Enter adresse" [(ngModel)]="enseignant.adresse">  
     
  </div>  
  <div class="form-group">  
    <label for="email">email</label>  
    <input type="email" class="form-control"   data-toggle="tooltip" name="email"   
       data-placement="right" title="Enter email" [(ngModel)]="enseignant.email">  
    
</div>  
<div class="form-group">  
  <label for="telephone">telephone</label>  
  <input type="email" class="form-control"   data-toggle="tooltip" name="telephone"  
     data-placement="right" title="Enter telephone"  [(ngModel)]="enseignant.telephone">  
  
</div>  

    <div class="form-group">
      <label for="exampleInputEmail1">Classes</label>
      
<select   class="form-control"  (change)="onSelectFile($event)">
<option *ngFor= "let classe of classes " value="{{classe.id}}" name="class_enseignant" >{{classe.classe_name}}</option>
</select>
    </div>
  <button class="btn btn-success" [disabled]=!f.valid>Submit</button>  
</form>  




