<h3 style="text-align: center;">Update Cour</h3>  
 
<form (ngSubmit)="onsubmit(f)" #f= ngForm>  
  <label for="id">Id:</label> 
<input type="text" name="id"  [hidden] class="form-control"   [(ngModel)]="cour.id" >
    <div class="form-group">  
        <label for="title">Title</label>  
        <input type="text" class="form-control"  data-toggle="tooltip" name="title"  
        data-placement="right"  [(ngModel)]="cour.title" />  
        
    </div>  
    <div class="form-group">  
      <label for="title">Content</label>  
      <input type="text" class="form-control"  data-toggle="tooltip" name="content"  
      data-placement="right"  [(ngModel)]="cour.content" />  
      
  </div>  
    <div class="form-group">
      <label  for="file">File upload:</label>
      <input type="file" class="form-control" id="file"  name="file" (change)="onSelectFile($event)" >
    </div>
  <button class="btn btn-success" [disabled]=!f.valid>Submit</button>  
</form>  

