<h3 style="text-align: center;">Details Etudiant</h3>  
 
<table style="text-align: center; " class="table table-success table-striped">
  
  <tr>
    <th>ID</th>
    <th>FullName</th>
    <th>Adresse</th>
    <th>Telephone</th>
    <th>Cin</th>
    <th>Email</th>
 
 

  </tr>
 
  <tr>
    <td>{{etudiant.etudiant_id}}</td>
    <td>{{etudiant.fullname_etu}}</td>
    <td>{{etudiant.adresse}}</td>
    <td>{{etudiant.tel}}</td>
    <td>{{etudiant.cin}}</td>
    <td>{{etudiant.email}}</td>
 

    
 
  
  </tr>
</table>
<div>