<h3 style="text-align: center;">Create Departement</h3>  
<div class="row">  
  <div class="col-sm-4"></div>  
  <div class="col-sm-4" >  
    <div [hidden]="submitted" style="width: 400px;">  
      <form [formGroup]="departementsaveform">  
          <div class="form-group">  
              <label for="name">Departement Name</label>  
              <input type="text" class="form-control"  formControlName="departement_name" data-toggle="tooltip"   
                 data-placement="right" title="Enter departement Name" >  
              <div class="alert alert-danger" *ngIf = "(departement_name.touched) && (departement_name.invalid)"   
                style="margin-top: 5px;">  
                  <span *ngIf="departement_name.errors.required">departement Name is Required</span>  
                    <span *ngIf = "departement_name.errors.minlength">   
                        MinLength Error   
                    </span>                     
                </div>  
          </div>  
          
   
        <button type="submit" (click)="save(departementsaveform)" class="btn btn-success">Submit</button>  
      </form>  
  </div>  
  </div>  
  <div class="col-sm-4"></div>  
</div>  
