
<h1 style="text-align:center;color:indigo;">EPI UNIVERSITY </h1>
<h2 style="text-align: center;color: brown;">PRÉSENTATION</h2>


<h3 style="text-align: center;color: darkblue;">EPI Sup est spécialisé dans l’enseignement supérieur</h3>
<p style="text-align: center;font-size: 20px;font-family: Georgia, 'Times New Roman', Times, serif;">
Créé en 2011, il comprend aujourd’hui 3 écoles :

Ecole Polytechnique (EPI-Polytechnique) pour la formation d’ingénieurs
Ecole d’Architecture (EPI-Arch) pour la formation d’ingénieurs-architectes
Ecole Business School (EPI-Business School) pour la formation de managers
Ces Ecoles sont implantées dans un Campus exceptionnel disposant d’une infrastructure moderne et performante et offrant un cadre d’étude et de vie agréable.

Cette implantation sur le même site encourage l’esprit d’échange et d’émulation et crée une synergie entre les différentes Ecoles qui permet aux étudiants de travailler ensemble, d’associer leurs compétences et de concevoir des projets communs pluridisciplinaires.
</p>
<h2 style="text-align: center;color: brown;">EPI DIGITAL SCHOOL</h2>
<p style="text-align: center;font-size: 20px;font-family: Georgia, 'Times New Roman', Times, serif;">Le Groupe EPI-SUP se dote d’une Grande Ecole du Numérique :
	EPI DIGITAL SCHOOL (EPI-DS).
	
	Implantée sur le Grand Campus du Groupe EPI qui s’étale sur 12.000 m2, cette nouvelle Ecole ouvrira ses portes à la rentrée universitaire 2022/23. Mais les nouveaux étudiants peuvent la rejoindre dès la rentrée 2021/22 soit au niveau du cycle prépa TIC et NT, soit au niveau de la Licence (e-business, informatique de gestion), soit enfin au niveau du cycle Ingénieur INFO (actuellement assurées à EPI Polytechnique).
	
	Cette Ecole s’inscrit dans la continuité de la stratégie de formation adoptée par le Groupe EPI depuis plusieurs années pour répondre aux besoins en compétences des entreprises dans le domaine du numérique et du management. Elle s’inscrit également dans la reconnaissance internationale accordée au Groupe EPI à travers le Label spécifique EURO-INF.
	
	EPI DIGITAL SCHOOL est un bâtiment moderne de six niveaux d’une superficie couverte de 5000 m2 équipé d’une infrastructure performante en matière de connectivité, de câblage et de haut débit.
	
	EPI DIGITAL SCHOOL est prévue pour former chaque année 800 étudiants (en formation initiale ou en alternance et également en formation professionnelle). Elle comprend une vingtaine de Labos, un Centre d’Innovation, un Data Center, un Centre de Certification, un Learning Center, un Coworking Space et plusieurs salles polyvalentes équipées et adaptées à l’enseignement du numérique.
	
	Outre les parcours actuellement assurés à EPI-Polytechnique (Ingénierie Logicielle, Ingénierie Systèmes & Réseaux), EPI-DS offrira de nouvelles formations en adéquation avec la transformation digitale des entreprises. Ces formations concerneront les diplômes de Bachelor, Master et Ingénieur dans plusieurs parcours : Développement Web, Marketing Digital, Communication Digitale, E-Commerce, E-Management, Data Science, l’IA, IOT …
	
	Rejoignez EPI DIGITAL SCHOOL, une Ecole d’avenir qui vous offre les meilleures opportunités des métiers du numérique.</p>
	<!-- Hero section -->
    <br>
    <app-caroussel></app-caroussel>
    <br><br>
	<!-- Hero section end -->



	



	


	<!-- Footer section -->
    <br>
	<section class="footer-section">
		<div class="container">
			<div class="footer-logo text-center">
				<a href="index.html"><img src="assets/img/epi.jpg" alt="" style="border-radius: 20px;"></a>
			</div>
			<div class="row">
				<div class="col-lg-3 col-sm-6">
					<div class="footer-widget about-widget">
						<h2>About</h2>
						<p>Donec vitae purus nunc. Morbi faucibus erat sit amet congue mattis. Nullam frin-gilla faucibus urna, id dapibus erat iaculis ut. Integer ac sem.</p>
						<img src="assets/img/cards.png" alt="">
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="footer-widget about-widget">
						<h2>Questions</h2>
						<ul>
							<li><a href="">About Us</a></li>
							
						</ul>
						
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="footer-widget about-widget">
						<h2>Questions</h2>
						<div class="fw-latest-post-widget">
							<div class="lp-item">
								<div class="lp-thumb set-bg" data-setbg="assets/img/blog-thumbs/1.jpg"></div>
								<div class="lp-content">
									<h6>what shoes to wear</h6>
									<span>Oct 21, 2018</span>
									<a href="#" class="readmore">Read More</a>
								</div>
							</div>
							<div class="lp-item">
								<div class="lp-thumb set-bg" data-setbg="assets/img/blog-thumbs/2.jpg"></div>
								<div class="lp-content">
									<h6>trends this year</h6>
									<span>Oct 21, 2018</span>
									<a href="#" class="readmore">Read More</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="footer-widget contact-widget">
						<h2>Questions</h2>
						<div class="con-info">
							<span>C.</span>
							<p>Your Company Ltd </p>
						</div>
						<div class="con-info">
							<span>B.</span>
							<p>1481 Creekside Lane  Avila Beach, CA 93424, P.O. BOX 68 </p>
						</div>
						<div class="con-info">
							<span>T.</span>
							<p>+53 345 7953 32453</p>
						</div>
						<div class="con-info">
							<span>E.</span>
							<p>office@youremail.com</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="social-links-warp">
			<div class="container">
				<div class="social-links">
					<a href="" class="instagram"><i class="fa fa-instagram"></i><span>instagram</span></a>
					<a href="" class="google-plus"><i class="fa fa-google-plus"></i><span>g+plus</span></a>
					<a href="" class="pinterest"><i class="fa fa-pinterest"></i><span>pinterest</span></a>
					<a href="" class="facebook"><i class="fa fa-facebook"></i><span>facebook</span></a>
					<a href="" class="twitter"><i class="fa fa-twitter"></i><span>twitter</span></a>
					<a href="" class="youtube"><i class="fa fa-youtube"></i><span>youtube</span></a>
					<a href="" class="tumblr"><i class="fa fa-tumblr-square"></i><span>tumblr</span></a>
				</div>

<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --> 
<p class="text-white text-center mt-5">Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>, distributed by <a href="https://bootthemes.com/" target="_blank">BootThemes</a></p>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

			</div>
		</div>
	</section>
	<!-- Footer section end -->


