<form (ngSubmit)="onsubmit(f)" #f=ngForm> 
  <label for="id">Id:</label> 
  <input type="text" name="id"  [hidden] class="form-control"  [(ngModel)]="profile.id" >
  <div class="form-group"> 
    <label for="phoneNumber">phoneNumber:</label> 
    <input type="text" name="phoneNumber" id="phoneNumber" class="form-control" [(ngModel)]="profile.phoneNumber" >
     
        </div>
        <div class="form-group"> 
          <label for="gender">gender:</label> 
         <select name="gender" id="gender"  [(ngModel)]="profile.gender">
          
           <option value="Male">Male</option>
           <option value="Female">Female</option>
         </select>
              </div>
              <div class="form-group"> 
                <label for="adresse">adresse:</label> 
                <input type="text" name="adresse" id="adresse" class="form-control"  [(ngModel)]="profile.adresse" >
                
                    </div>
                    <div class="form-group"> 
                      <label for="birthday">Birthday:</label> 
                      <input type="Date" name="birthday" id="birthday" class="form-control"   [(ngModel)]="profile.birthday" />
                    
                          </div>
                    <div class="form-group">
                      <label  for="file">Image upload:</label>
                      <input type="file" class="form-control" id="file"  name="file" (change)="onSelectFile($event)" >
                    </div>
                   
                    
                    <button class="btn btn-success" >UPDATE</button> 
        </form>
